a,
a:focus,
a:hover {
	color: #fff;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.masthead
{
	background: #333;
	width: 100%;
}

html,
body {
	height: 100%;
	background-color: #333;
}

section
{
	width: 100%;
	padding: 6em;
		
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
   
}
footer
{
	width: 100%;
	background-color: #333;
}

.bar
{
	width: 75%;
	background: #fff;
	height: 0.25em;
}
.down
{
	font-size: 3em;
}

@media (max-width: 600px) 
{
	section
	{
		padding: 1em;
	}
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}