.Contenido
{
    background-color: #fff;
    color: #333;    
}
.Contenido .importante
{
    color: #000;
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
    font-weight: bold;
}
.Contenido a, .Contenido a:hover, .Contenido a:focus
{
    color: #000;
    
}
h1
{
    color: #000;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

section
{
    padding: 1em 2em;
}
@media (max-width: 600px) 
{
	section
	{
		padding: 1em;
	}
}
