#Titulo
{
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background: linear-gradient(#00000080, #00000080), url("../Images/Index.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
}
#Titulo h1 
{
    font-size: 3em;
}
#Posts
{
    padding: 2em;
    color: #000;
    background-color: #fff;
    text-align: left;
}
#Posts .bar
{
    width: 100%;
    background-color: #33333380;
}
.Post
{
    width: 100%;
    padding: 3em;
}
.Post a
{
    color: #000;
}