body{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
html{
    scroll-behavior: smooth;
}

#hero{
    margin-top: 2em;
}

.jumbotron{
    color: #333;
    background-color: rgba(250,250,250,0.85 )
} 

.flex-center{
    display: flex;
    flex-direction: row;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.img-h-100px{
    max-height: 100px;
    min-height: 50px;
}
.img-h-200px{
    max-height: 200px;
    min-height: 50px;
}

.shadow{
    -webkit-box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
    box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
}

.round-img{
    margin: 0.5em;
    border-radius: 50%;
}

.grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 1em;
    align-items: center;
}
.grid img, .grid div{
    justify-self: center;
}

.some-cool-blue{
    color: #007bff !important;
}

@media (max-width: 400px) {
    .jumbotron{
        color: white;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
    }
    .round-img-m{
        background-color: rgba(255,255,255,1);
        margin: 0.5em;
        border-radius: 50%;
    }
    .shadow-m{
        -webkit-box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
        box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.44);
    }
    .btn-link{
        background-color: rgba(255,255,255,0.5);
        margin: 0.5em 0.3em;
    }
    .card{
        background-color: rgba(255,255,255,0.5);
        margin: 0.5em 0.3em;
    }
}